<div>
    Notre Personnel
</div>

<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Les patrons</h3>
        </div>
        <div class="panel-body">
            <div ng-repeat="qn in theHumans | filter: {employeeRoleId:'1'}">
               {{qn.firstName}} {{qn.lastName}} est là !

            </div>
        </div>
    </div>
</div>

<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Les cuisines</h3>
        </div>
        <div class="panel-body">
            <div ng-repeat="qn in theHumans | filter: {employeeRoleId:'3'}">
                {{qn.firstName}} {{qn.lastName}} est là !
                <img src="../assets/images/employees/{{qn.picture}}">
            </div>
        </div>
    </div>
</div>


<div class="col-sm-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Le service</h3>
        </div>
        <div class="panel-body">
            <div ng-repeat="qn in theHumans | filter: {employeeRoleId:'4'}">
                {{qn.firstName}} {{qn.lastName}} est là !
            </div>
        </div>
    </div>
</div>