<h1 style="text-align: center">
    Chez Rémy & Garance
</h1>

<div class="row marketing">
<div>
    <ul class="bxslider">
        <li><img src="../assets/images/courses/img1.jpeg"></li>
        <li><img src="../assets/images/img2.jpeg"></li>
        <li><img src="../assets/images/img3.jpeg"></li>
        <li><img src="../assets/images/courses/img4.jpeg"></li>
        <li><img src="../assets/images/courses/img1.jpeg"></li>


    </ul>
</div>
<p>
Bonjour, et bienvenue sur le site de notre restaurant.
    Rémy et Garance vous accueillent tous les jours de la semaine dans le vieil Antibes, pour déguster de nombreux plats !


</p>
</div>
