<div>
    Nos Menus
</div>

<div class="col-lg-5 col-md-5 col-sm-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Tous nos menus</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li ng-repeat="m in theMenus"> {{m.name}} is an awesome menu !
                    <button class="btn-grp btn-info" ng-click="getDetailsOfMenu(m.id)"> Check it out !</button>
                    <button class="btn-grp btn-info" ng-click="goToComments(m.id)"> Commentaires </button>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-lg-7 col-md-7 col-sm-7">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Le menu que tu veux</h3>
        </div>
        <div class="panel-body">
            Dans ce super menu, tu vas trouver : <br />
            Comme entrées :
            <ul><li ng-repeat="ms in menuDetails | filter:{'name':'starter'}">
              <!--  {{ms.courseId}}-->
                {{getThisCourse(ms.courseId)}}
            </li> </ul>
            Comme plats :
            <ul><li ng-repeat="mp in menuDetails | filter:{'name':'main'}">
                {{mp.courseId}}
            </li> </ul>
            Comme desserts :
            <ul><li ng-repeat="md in menuDetails | filter:{'name':'dessert'}">
                {{md.courseId}}
            </li> </ul>

        </div>
    </div>
</div>
