<h1 style="text-align: center">
    Nos Menus
</h1>
<br />
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Tous nos menus</h2>
        </div>
        <div class="panel-body">
            <ul>
                <li ng-repeat="m in theMenus"> <h4>{{m.name}} . {{m.price}} €</h4>
                    <button type="button" class="btn btn-default" ng-click="getDetailsOfMenu(m.id)"> Voir les détails !</button>
                    <button type="button" class="btn btn-default" ng-click="goToComments(m.id)"> Commentaires</button>

                </li>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Le menu que tu veux</h2>
        </div>
        <div class="panel-body">
            Dans ce super menu, on trouve : <br/>
<span>
         <ul ng-repeat="md in menuDetails">
                <div ng-repeat="cd in theCourses">
                    <li ng-if="md.courseId == cd.id">
                        {{cd.name}} ({{cd.price}} € à la carte)<br/>
                        <img src="../assets/images/courses/{{cd.image}}.jpg">
                    </li>
                </div>
                </ul>
    </span>


    </div>
</div>
    </div>

